body {
    display: flex;
}

/* buttons */

.btlogin {
    font-family: 'Poppins', sans-serif;
    background: #a80cb6;
    font-size: 0.85rem;
    color:black;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 10px;
    transition: all 150ms ease;
}

.btlogin:hover {
    background: #8a0796;
    color:whitesmoke;
    cursor: pointer;
}

/* tela de fundo lateral */

#background{
    height: 100vh;
    width: 62vw;
    display: flex;
    justify-content: center;
}

/* conteúdo */

#content{
    background-color: rgba(10, 10, 10);
    display: flex;
    height: 100vh;
    width: 38vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.logo{
    height: 15%;
    width: auto;
    margin-bottom: 35px;
    top: 0%;
}

.comment{
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.subcomment{
    font-size: 1rem;
    margin-bottom: 50px;
    letter-spacing: 1px;
    font-weight: normal;
}

.gitlink{
    position:absolute;
    text-decoration: none;
    font-size: 0.8rem;
    color:darkgrey;
	bottom: 3%;
    transition: all 200ms ease;
}

.gitlink:hover{
    color: #8a0796;
    cursor: pointer;
}