body{
    background-color: rgba(10, 10, 10);
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

#sc-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#session-message{
    display: none;
    padding: 10px 30px;
    margin: 20px;
    background-color: #a80cb6;
    border-radius: 25px;
}

#form-login{
    display: flex;
    align-items: center;
}

.logo{
    height: 14%;
    width: auto;
}

form label{
    display: flex;
    flex-direction: column;
}

form label span{
    font-size: 1.1rem;
    margin-top: 2rem;
}

form input, button{
    font-family: 'Poppins', sans-serif;
    background: #161923;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    border: 1px solid #040B18;
    border-radius: 8px;
    outline: none;
}

button {
    font-family: 'Poppins', sans-serif;
    background: #a80cb6;
    font-size: 0.85rem;
    color:black;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 20px;
    transition: all 150ms ease;
}

button:hover {
    background: #8a0796;
    color:whitesmoke;
    cursor: pointer;
}