body{
    background-color: rgba(10, 10, 10);
}

/* conteúdo da página */

#showcase {
    width: 100%;
    justify-content: center;
    align-items: center;
    color:white;
}

#popularmovies{
    padding: 23px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popmtitle{
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color:white;
}

/* lista de filmes (teste) */

#moviesgrid{
    display: grid;
    -ms-grid-row-align: center;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    grid: repeat(2, 233px) / auto-flow 156px;
}

.poster{
    background-color:#a80cb6;
    border-radius: 2.5px;
    height: 225px;
    width: 157px;
}