body{
    background-color: rgba(10, 10, 10);
}

/* conteúdo da página */

#showcase {
    width: 100%;
    justify-content: center;
    align-items: center;
}

#popularmovies{
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popmtitle{
    align-items: center;
    color:white;
}

/* lista de filmes (teste) */

#moviesgrid{
    display: grid;
    -ms-grid-row-align: center;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    grid: repeat(2, 280px) / auto-flow 200px;
}

.poster{
    background-color:darkolivegreen;
    height: 250px;
    width: 166px;
}