/* barra de navegação */

body{
    background-color: rgba(10, 10, 10);
}

#navbar {
    width: 100%;
    display: flex;
    background-color: #363636;
    justify-content: center;
    position: absolute;
    color: white;
}

#navbar .navbar-container {
    width: 80%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.logo {
    height: 60px;
    width: auto;
    cursor: pointer;
}

#userarea{
    display: flex;
}

.userimage {
    height: 40px;
    width: auto;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 100%;
}

.username{
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

i{
    font-size: 1.3rem;
    padding: 12px;
    cursor: pointer;
    transition: all 300ms ease;
}

i:hover{
    color:blueviolet;
}

/* conteúdo da página */

#showcase{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.popularmovies{
    margin-top: 150px;
    display: flex;
    flex-direction: initial;
    color:white;
    justify-content: center;
    align-items: center;
}

/* lista de filmes (teste) */

#moviesgrid{
    display: grid;
    -ms-grid-row-align: center;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    grid: repeat(2, 280px) / auto-flow 200px;
}

.poster{
    background-color:rebeccapurple;
    height: 250px;
    width: 166px;
}