@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    color: white;
    background-color: rgba(10, 10, 10);
}

#showcase {
    display: flex;
    width: 100%;
    justify-content: center;
}

#sc-landing{
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
}

#movie-info{
    width: 65%;
}

.poster{
    width: 380px;
    height: 600px;
    border-radius: 10px;
    background-color: brown;
}

#movie-info .title{
    font-size: 3rem;
}

#movie-info .title,.year,.directedby{
    padding-left: 10px;
}

#movie-info .synopsis p{
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 17px;
    width: 95%;
}

#movie-info .synopsis{
    border-bottom: 1px solid white;
    width: 63%;
}

#movie-info .watchon{
    padding-top: 17px;
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

#movie-info i{
    font-size: 1.5rem;
    padding-left: 10px;
}

#movie-info a{
    color: white;
    text-decoration: none;
}