body {
    color: white;
    background-color: rgba(10, 10, 10);
}

#showcase {
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

#sc-landing{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#movie-info{
    width: 65%;
}

.poster{
    width: 380px;
    height: 600px;
    background-color: brown;
}

#movie-info .title{
    font-size: 3rem;
}

#movie-info .synopsis{
    padding-top: 30px;
    width: 60%;
}